
.top-companies { }

.top-companies .link {
	stroke: #777;
	stroke-width: 3px;
	stroke-linecap: round;
	stroke-dasharray: 1 5;
}

.top-companies .header rect {
	fill: white;
	stroke: black;
}

.top-companies .header text {
	fill: black;
}

.top-companies.flex {
	flex-flow: column;
}

.top-companies section.note {
	text-align: center;
	padding: 5px 0 10px 0;
}

.top-companies section.viz {
	flex: 1;
}

.top-companies .label rect {
	fill: black;
}

.top-companies .label text {
	fill: white;
	pointer-events: none;
}

